
/*------------FONTES--------------*/

@font-face {
    font-family: ligacao;
    src: url(../Fontes/Campton-BoldDEMO.otf);
}

@font-face {
    font-family: formal;
    src: url(../Fontes/OPTIAlpine-EightySeven.otf);
}
*{
    padding: 0%;
    margin: 0%;
}


#principalConteiner{
    background-color: #eae41f;
    height: 100vh;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    
}


header{
    
    display: flex;

    align-items: center;
    justify-content: center;

}
#principal{
    display: flex;
    background-image: linear-gradient(#ffb00d , #fdea0a 60%);
    height: 40%;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    
}

#lateralEsquerda{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 16.45%;
    
    
}

#menu{
    background-color: #5e8eb1;
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;

}
#bad img{
    height: 100%;
    width: 100%;
}

#menu img{
    margin: 0.5px;
}
#Propaganda{
   
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 100%;

    
}
#lateralDireita{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 16.45%;
    background-color: #5e8eb1;
    

}
#Propaganda a img{
    height: 100%;
}

#banner{
    margin: 3px;
    
    
}
#telefone{
    background-color: #e44f2c;
    color: #eae41f;
    height: 3.2%;
    width: 5%;
    width: 50%;
    font-family: ligacao;
    display: flex;
    
    align-items: Center;
    justify-content: flex-start;
    
}

#telefone p{
    margin-top: 0.7%;
    position: relative;
    font-size: 120%;
}

#telefone p .bolinha {
   margin: 0% 0.5rem;
 display: inline-flex;
    height: 12px;
    width: 12px;
    border-radius: 50%;
   background-color: #eae41f;
}

#span1, #span2, #span3{
margin: 0% 0%;

}


#span1:hover{
    color: white;
    text-shadow: 2px 2px 3.3px #eae41f;
}

#jornal img{
    height: 91%;
    width: 100%;
}


#filantropia{
    margin-top: 0.9%;
    font-size: 90%;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}


#titulo{
    font-family: formal;
    font-size: 250%;
    color: red;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #fff; /* cor da borda */
    text-transform: uppercase;
    text-align: center;
    

}
#videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
    
}

#videosMaisImg{


display: flex;
height: 100%;
align-items: center;
justify-content: center;


}
#bannerCentro{
    height: 100%;
    width: 75%;
}


#centro{


}

#videoDeCima{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;

}

#videoDeCima img{
height: 40%;
width: 40%;


}
#videosDeBaixo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#videosDeBaixo img{
    height: 80%;
    width: 80%;
}

#bannerCentro{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 110%;
    font-weight: bolder;
}


img[id="saul"]{
    height: 25%;
    width: 50%;
    padding-top: 8%;
}
img[id="logo"]{

height: 25%;
width: 80%;
margin-left: 5%;
}


#video2, #video3{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;

}


#videosDeBaixo{
    margin-top: 8%;
}

#testemunhasDecima {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 11.1%;
}

#testemunhasDecima img{
    height: 100%;

}
#testemunhasDeBaixo img{
    height: 100%;
    
}

#testemunhasDeBaixo{
    display: flex;
    justify-content: space-between;
    align-items: center;
   width: 90%;
}

#videosTestemunha{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 115%;


}
#bad{
    background-color: #5e8eb1;
}
.carro{
    padding-bottom: 50%;
}

#consultasDeCima{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
}

#processe, #tigre{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;
    

}


#consultasDeBaixo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;
    width: 90%;
}

#consultas3,#consultas2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;
}




#videosConsultas{
   
    justify-content: space-between;
    width: 100%;
    margin-bottom: 25%;
}
#videosConsultas img{
    margin: 0% 2rem;
}


#bannerCentroConsultas{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: formal;
    font-size: 100%;
    color: red;
    text-transform: uppercase;
    text-align: center;
    font-size: 110%;
    font-weight: bolder;
    margin-bottom: 25%;
    

}

#bannerCentroConsultas #saul{
    height: 60%;
    width: 60%;
}


#cards{
    
    width: 100%;
    height: 80% ;
}


.cards{
   position: relative;
   top: 13%;
}

.video{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 102%;
}




@media (max-width:600px){
    
header img {
     width: 100%;   

}
#principal{
    width: 100%;
}
    #menu img{
        width: 3.7rem;
       
    }


#titulo{
    font-size: 1.1rem;
}
#banner img{
    width: 100%;
}

#lateralDireita{
    height: 84%;
}


#telefone{
    width: 100%;
}

#telefone p{
    font-size: 60%;
}
#telefone p .bolinha {
    margin: 0% 0.5rem;
  display: inline-flex;
     height: 10px;
     width: 10px;
     border-radius: 50%;
    background-color: #eae41f;

}


#filantropia{
    text-align: center;
}


#videosTestemunha img{
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 115%;


}


#testemunhasDecima img{
  
        margin-left:23% ;
        margin-top: 10%;

   width: 55%;
}
#video3{
    margin-left: 20%;
}
#testemunhasDeBaixo{
    margin-top: 10%;
}

#video2, #video3{
   

    height: 25%;
}
#videosConsultas img{
    width: 3.5rem;
    margin-left: 5%;
   
}

#videosConsultas{
    font-size: 10%;
    

}


#consultasDeCima{
    margin-bottom: 10%;
   
   
   
   }

   #consultasDeBaixo{
       
    margin-bottom: 15%;  


   }

   .textoConsultas{
       font-size: 100% !important;
       
   }


#videosConsultas p{
    margin-right: 30%;
}
#banner{
    transform: translateY(-122%);
}
#telefone{
    transform: translateY(-220%);
}
#filantropia{
    transform: translateY(-140%);
}


.bannerCards{
    transform: translateY(-350%)!important;
    

}
.telefoneCards{
    transform: translateY(-618%)!important;
    

}
.filantropiaCards{

    transform: translateY(-380%)!important
}

}



